.logo-img {
  margin-right: 10%;
  margin-top: 3%;
}
.header {
  margin-left: 8%;
  font-weight: 900;
  letter-spacing: 0.5rem;
  color: yellow !important;
}
.nav-items {
  color: white;
  margin-top: 30%;
}
