 {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: 'Valo !important';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Valo';
  src: local('Valo'), url('./fonts/Valo.ttf') format('truetype');
}
